
.icon {
    margin-right: 2px;
}


.menu-diferente {
    background-color: #36b1b6 ;
    transition: all 0.2s;;
}
.menu-transacao {
    background: #b5dbdd;
}
h1{
    font-family:candara;
    font-size:90px;
    text-align: center;
    margin-bottom: 50px;
}

.menu {
    margin-bottom: 0px;
    background: white;
}

.whatsapp {
    position: fixed;
    top: 580px;
    left: 1%;
    padding: 10px;
    z-index: 10000000;
}

