h3{
    font-family:candara;
    text-align: center;
}

.menu {
    margin-bottom: 0px;
    background: white;
}

.speed{
    position: relative;
    left: 100px;
}

.cable{
    position: relative;
    left: 370px;
    width: 64px;
    bottom: 150px;
}

.wifi{
    position: relative;
    bottom: 257px;
    left: 490px;
    width: 64px;
}

.quarenta{
    position: relative;
    left: 260px;
    bottom: 50px;
}

.sessenta{
    position: relative;
    left: 260px;
    bottom: 50px;
}

.cem{
    position: relative;
    left: 260px;
    bottom: 50px;
}

.cento-e-cinquenta{
    position: relative;
    left: 260px;
    bottom: 50px;
}

.quatrocentos{
    position: relative;
    left: 260px;
    bottom: 50px;
}

.fibra{
    position: relative;
    left: 370px;
    bottom: 155px;
}

.incluso{
    position: relative;
}

.assinar{
    
    width: 376px;

}

.texto-update{
    top: 50px;
}

.bg_video{
    width: 1348px;
}

@media(max-width: 2560px){
    .bg_video{
        width: 2560px;
    }
}
@media(max-width: 1440px){
    .bg_video{
        width: 1440px;
    }
}
@media(max-width: 1024px){
    .container{
        margin-left: 200px;
    }
}

@media(max-width: 768px){
    .bg_video{
        width: 770px;
    }
}

@media(max-width: 414px){

}

@media(max-width: 425px){
    .container{
        margin-left: 150px;
    }
    h1{  
        width: 900px;
    }
    
    .row{
        
    width: 1000px;

    }

    .texto{
        
    width: 930px;
    left: 450px;
    top:40px;

    }
    .texto-update{
        width: 930px;
        left: 450px;
        top: 0px;
    }
    
    .img{
        position: relative;
        bottom: 220px;
    }

    .update{
        bottom: 170px;
        position: relative;
    }
}

@media(max-width: 375px){
    .container{
        margin-left: 200px;
    }
    h1{  
        width: 900px;
    }
    
    .row{
        
    width: 1000px;

    }

    .texto{
        
    width: 930px;
    left: 450px;
    top:40px;

    }
    .texto-update{
        width: 930px;
        left: 450px;
        top: 0px;
    }
    
    .img{
        position: relative;
        bottom: 220px;
    }

    .update{
        bottom: 170px;
        position: relative;
    }
}

@media(max-width: 320px){
    .container{
        margin-left: 150px;
    }
    h1{  
        width: 900px;
    }
    
    .row{
        
    width: 1000px;

    }

    .texto{
        
    width: 930px;
    left: 450px;
    top:40px;

    }
    .texto-update{
        width: 930px;
        left: 450px;
        top: 0px;
    }
    
    .img{
        position: relative;
        bottom: 220px;
    }

    .update{
        bottom: 170px;
        position: relative;
    }
}