.icones {
    width: 150px;
    height: 150px;
}
.overlay-parallax {
    background-image: url(../images/img/imagem-propaganda.jpg);
    background-blend-mode: darken;
}

h1{
    font-size: 60px;
}
h4 {
    font-weight: 100;
    font-size: 40px;
    line-height: 50px;
}

.icon_phone {
    
    margin-left: 40px;
    margin-right: 5px;

}
a {
    text-decoration: none;
    color:inherit;
}

.visitar{
    margin-left: 400px;
}

.bg_video{
    width: 1348px;
}
@media(max-width: 2560px){
    .bg_video{
        width: 2560px;;
    }
}
@media(max-width: 1440px){
    .bg_video{
        width: 1440px;;
    }
    
    h2{
        
     width: 900px;
     margin-left: 180px;
 
    }
    .form{
        
     width: 900px;
     margin-left: 150px;
 
    }
 
    .visitar{
        margin-left: 400px;
        width: 500px;
    }
}
@media(max-width: 1024px){
    .bg_video{
        width: 1165px;;
    }
    
    h2{
        
     width: 900px;
     margin-left: 180px;
 
    }
    .form{
        
     width: 900px;
     margin-left: 150px;
 
    }
 
    .visitar{
        margin-left: 400px;
        width: 500px;
    }
}

@media(max-width: 768px){
    .bg_video{
        width: 1160px;;
    }
    
    h2{
        
     width: 900px;
     margin-left: 180px;
 
    }
    .form{
        
     width: 900px;
     margin-left: 150px;
 
    }
 
    .visitar{
        margin-left: 400px;
        width: 500px;
    }
}

@media(max-width: 425px){
    .bg_video{
        width: 1133px;;
    }
    
    h2{
        
     width: 900px;
     margin-left: 180px;
 
    }
    .form{
        
     width: 900px;
     margin-left: 150px;
 
    }
 
    .visitar{
        margin-left: 400px;
        width: 500px;
    }
}

@media(max-width: 375px){
    .bg_video{
        width: 1133px;;
    }
    
    h2{
        
     width: 900px;
     margin-left: 180px;
 
    }
    .form{
        
     width: 900px;
     margin-left: 150px;
 
    }
 
    .visitar{
        margin-left: 200px;
        width: 500px;
    }
}

@media(max-width: 320px){
   .bg_video{
       width: 1133px;;
   }
   
   h2{
       
    width: 900px;
    margin-left: 180px;

   }
   .form{
       
    width: 900px;
    margin-left: 150px;

   }

   .visitar{
       margin-left: 200px;
       width: 500px;
   }
}